<div class="movie" >
    <div class="row" >
      <div class="image col-md-5">
        <img src="{{movie.poster}}">
      </div>
      <div class="col-md-7 px-5">
        <p class="title" ><span>Title: </span>{{movie.title}}</p>
        <p><span class="title">Year: </span>{{movie.year}}</p>
        <p><span class="title">Genre: </span>{{movie.genre}}</p>
        <p><span class="title">Time: </span>{{movie.runtime}}</p>
        <p><span class="title">Casts: </span>{{movie.actors}}</p>
        <p><span class="title">Dircetor: </span>{{movie.director}}</p>
        <p><span class="title">Country: </span>{{movie.country}}</p>
        <p><span class="title">Released: </span>{{movie.released}}</p>
        <p><span class="title">Writer: </span>{{movie.writer}}</p>
        <p><span class="title">Description: </span>{{movie.plot}}</p>
      </div>
  
    </div>
  </div>