<h1 id="tableLabel">Movies</h1>

<p>This component demonstrates fetching moive data from the server.</p>

<form action="#" class="form" [formGroup]="searchForm">
  <div class="mb-5">
      <label for="exampleInputPassword1" class="form-label subtext__md">Movie title</label>
      <div class="izi-input__section izi-input__section--fw">
          <input type="text" class="izi-input"
              formControlName="movieTitle"
              [class.dirty]="movieTitle?.dirty && movieTitle?.invalid">
      </div>
  </div>

  <div class="d-grid gap-2">
      <button (click)="searchMovie(searchForm.value)" class="btn-primary btn-lg me-md-4 ms-md-4" [disabled]="searchForm.invalid">
          Search
      </button>
  </div>
</form>

<p *ngIf="!movie"><em>Loading...</em></p>

<!-- <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts.length">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table> -->
