.izi-input__section {
    width: 40.7rem;
    position: relative;
  
    &--fw {
      width: 100%;
    }
  
  }

  .btn-primary{
    width: 6rem;
    border-radius: .2rem;
    border: none;
    height: 2.5rem;
  }

  .izi-input {
    outline: none;
    height: 2.5rem;
    background-color: rgba(#e7e9ff, 0.2);
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 0.1rem solid #566ba03a;
    padding: .7rem;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    color: #566ba0;
  }

  .title{
    font-weight: 600;
    font-size: 20px;
  }
  p{
    margin-bottom: .1rem !important;
  }